# Build directories
build/
out/
.cache/
build-linux/
initramfs/

# CMake generated
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
install_manifest.txt
_deps/

# Binaries
*.o
*.a
*.so
*.dylib
bin/
lib/

*.DS_Store
linux-kernel/
*.gz